* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: darkgray;
  margin: 0;
}
.main-wrapper{
  display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    gap: 20px;
}